
/* src/App.css */
.about-us {
  padding: 20px;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
  max-width: 1200px;
  margin: 0 auto;
}


.institute-details,
.faculty-members {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.institute-details:hover, 
.faculty-members:hover {
  transform: translateY(-5px);
}

.faculty {
  border-bottom: 1px solid #eee;
  padding: 15px 0;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
}

.faculty:last-child {
  border-bottom: none;
}

.faculty:hover {
  background-color: #f1f1f1;
}

.faculty img {
  margin-right: 15px;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  object-fit: cover;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.faculty img:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.faculty-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.faculty-info h3 {
  margin: 0;
  font-size: 1.4em;
  color: #007BFF;
  transition: color 0.3s ease;
}

.faculty-info h3:hover {
  color: #0056b3;
}

.faculty-info p {
  margin: 5px 0;
  font-size: 1em;
  color: #555;
  flex-grow: 1;
}



