footer {
    background-color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    bottom: 0;
    left: 0;
}

/* Center the paragraph inside the footer */
footer p {
    margin-left: 50%;
    color: #512da8;
    font-size: 14px;
    margin: 0;
}